.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 1rem;
}

main {
    flex: 1;
    overflow-y: hidden;
}

section {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    font-size: 12px;
    text-align: center;
}
