$bg-white: rgba(white, 0.1);

:host {
    display: contents;

    // make fileUpload icon stay at bottom
    ::ng-deep .chat-box .mat-mdc-form-field-icon-suffix {
        align-self: end;
        padding-bottom: 8px;
    }
}

.sidenav-container {
    width: 700px;
    height: 700px;
    max-width: 100%;
    max-height: 100%;
    background: $bg-white;
    backdrop-filter: blur(0.5rem);
    border-radius: 1rem;
    transition: height 0.4s;
}

.sidenav-container mat-toolbar {
    background: $bg-white;
    justify-content: center;
}

.sidenav {
    background: $bg-white;
    width: 180px;
}

.absolute-menu {
    position: absolute;
    z-index: 1;
}

.sidenav-content {
    display: flex;
    flex-direction: column;
}

.chat-box {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.file-input {
    display: none;
}

.drop-zone {
    outline: #32a1ce dashed medium;
    background: rgba(white, 0.2);
    transition: background 0.15s linear;
}

@media screen and (max-width: 599.98px) {
    .sidenav-container {
        height: 100%;
    }
}
