<mat-sidenav-container
    (onFileDrop)="onFileDrop($event); fileTip.show()"
    (onFilePaste)="onFileDrop($event); fileTip.show()"
    appDropZone
    appPasteZone
    class="sidenav-container mat-corner-lg"
    hasBackdrop="false"
>
    <mat-sidenav
        #drawer
        [mode]="layoutService.isXSmall() ? 'push' : 'side'"
        [opened]="layoutService.isXSmall() === false"
        class="sidenav"
    >
        <mat-selection-list [(ngModel)]="selectedPeer" (selectionChange)="drawer.toggle()" multiple="false">
            @for (peer of peers(); track peer) {
            <mat-list-option [value]="peer" [selected]="$first">{{ peer }}</mat-list-option>} @empty {
            <div class="empty-list">
                <p>No peers online.</p>
            </div>
            }
        </mat-selection-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
        @if (layoutService.isXSmall()) {
        <mat-toolbar>
            <button (click)="drawer.toggle()" mat-icon-button type="button">
                <mat-icon svgIcon="menu"></mat-icon>
            </button>
        </mat-toolbar>
        } @else {
        <button (click)="drawer.toggle()" mat-icon-button type="button" class="absolute-menu">
            <mat-icon svgIcon="menu"></mat-icon>
        </button>
        }

        <app-message-list [selectedPeer]="selectedPeer()?.[0]"></app-message-list>

        <mat-divider></mat-divider>

        <div class="chat-box">
            <input
                #fileUpload
                (change)="onFileChanged($event); fileTip.show()"
                class="file-input"
                type="file"
            >
            <mat-form-field appearance="outline">
                <mat-label>Message</mat-label>
                <textarea
                    (keydown.enter)="onSend($event)"
                    [(ngModel)]="inputText"
                    autofocus
                    cdkAutosizeMaxRows="8"
                    cdkAutosizeMinRows="1"
                    cdkTextareaAutosize
                    matInput
                    placeholder="⏎: Send; ⇧ + ⏎: Newline"
                ></textarea>
                <button
                    #fileTip="matTooltip"
                    (click)="fileUpload.click()"
                    [class]="selectedFile() === undefined ? '' : 'primary'"
                    [matTooltip]="selectedFile()?.name || 'Select a file'"
                    mat-icon-button
                    matSuffix
                    type="button"
                >
                    <mat-icon svgIcon="attach_file"></mat-icon>
                </button>
            </mat-form-field>
            <button (click)="onSend($event)" [disabled]="isSendDisabled()" matButton="filled" type="button">
                Send
            </button>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
