@use "@angular/material" as mat;
@use "sass:map";
@use "sass:selector";

$color-variants: (
    "primary": var(--mat-sys-primary),
    "accent": map.get(mat.$spring-green-palette, 80),
    "warn": var(--mat-sys-error),
);

//https://sass-lang.com/documentation/at-rules/at-root/
@mixin unify-parent($child) {
    @at-root #{selector.unify(&, $child)} {
        @content;
    }
}

@mixin color-utilities {
    @each $k, $v in $color-variants {
        .#{$k} {
            @include unify-parent("mat-icon") {
                @include mat.icon-overrides((
                    color: $v,
                ));
            }
            @include unify-parent("mat-divider") {
                @include mat.divider-overrides((
                    color: $v,
                ));
            }
            @include unify-parent("mat-spinner") {
                @include mat.progress-spinner-overrides((
                    active-indicator-color: $v,
                ));
            }
            @include unify-parent("button") {
                @include mat.icon-button-overrides((
                    icon-color: $v,
                ));
            }
        }
    }
}
