/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@use "./colors";

html {
    @include mat.theme((
        color: (
            theme-type: dark,
            primary: mat.$cyan-palette,
            tertiary: mat.$orange-palette,
        ),
        typography: Roboto,
        density: 0,
    ));
    @include colors.color-utilities;

    background-color: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
    font: var(--mat-sys-body-large);
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
    background: #0d1e31 url(../public/assets/bg.jpg) no-repeat 50% 50%;
    background-size: cover;

    cursor: url(../public/assets/cursor.ico), auto;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #969cbd transparent;
}

::selection {
    background-color: #ff9632;
    text-shadow: 1px 1px 2px black;
    color: white;
}

.empty-list {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
