<main>
    <div class="content">
        <section class="left-side">
            <mat-form-field appearance="outline" style="width: calc(180px + 16px * 2)">
                <mat-label>Local ID</mat-label>
                <input [value]="peerService.localId()" matInput readonly type="text" />
                @if (peerService.isOnline()) {
                    <mat-icon matSuffix svgIcon="done" color="accent" matTooltip="Online"></mat-icon>
                } @else {
                    <mat-icon matSuffix svgIcon="error" color="warn" matTooltip="Offline"></mat-icon>
                }
            </mat-form-field>

            <button (click)="onRenew()" [disabled]="isReloading()" color="primary" mat-fab matTooltip="Renew">
                @if (isReloading()) {
                    <mat-spinner color="accent" diameter="30"></mat-spinner>
                } @else {
                    <mat-icon svgIcon="autorenew"></mat-icon>
                }
            </button>
        </section>

        <mat-divider [vertical]="!isXSmall()"></mat-divider>

        <form (ngSubmit)="onSubmit()" [formGroup]="remoteIdForm" class="right-side">
            <mat-form-field appearance="outline" style="width: calc(180px + 16px * 2)">
                <mat-label>Remote ID</mat-label>
                <input
                    #remoteId
                    formControlName="remoteId"
                    matInput
                    maxlength="7"
                    minlength="7"
                    required
                    type="text"
                />
                @if (remoteId.value) {
                    <button
                        mat-icon-button
                        matSuffix
                        matTooltip="Clear"
                        type="button"
                        (click)="remoteIdForm.controls.remoteId.setValue('')"
                    >
                        <mat-icon svgIcon="backspace"></mat-icon>
                    </button>
                }
                @if (remoteIdForm.controls.remoteId.hasError('remoteId')) {
                    <mat-error>Please enter a valid Remote ID</mat-error>
                } @else if (remoteIdForm.controls.remoteId.hasError('required')) {
                    <mat-error>Remote ID is <strong>required</strong></mat-error>
                }
                <mat-hint align="end">{{ remoteId.value.length }} / 7</mat-hint>
            </mat-form-field>

            <button
                [disabled]="isConnecting() || !peerService.isOnline() || !remoteIdForm.valid"
                color="primary"
                mat-fab
                matTooltip="Connect"
                type="submit"
            >
                @if (isConnecting()) {
                    <mat-spinner color="accent" diameter="30"></mat-spinner>
                } @else {
                    <mat-icon svgIcon="link"></mat-icon>
                }
            </button>
        </form>
    </div>
</main>
