:host {
    display: contents;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    max-width: 100%;
    max-height: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.left-side,
.right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    flex: 1;
}

.qrcode {
    width: 100px;
    transition: all 0.4s;
}

.qrcode:hover {
    width: 300px;
}

@media screen and (max-width: 599.98px) {
    .container {
        flex-direction: column;
    }
}
